main {
  padding: 3em;
}

.search {
  background-color: #475269;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
  border-radius: 20px;
}
button {
  background-color: rgb(201, 66, 66);
  border: 2px black solid;
  margin-left: 1rem;
  font-size: 1.5rem;
}
input {
  background-color: rgb(206, 138, 138);
  border: 2px black solid;
  font-size: 1.5rem;
  width: 100px;
}
